{% extends "WHSmartAdminBundle::main_default.html.twig" %}

{% block ariane %}{{ parent() }}<li><a href="{{ path('wh_admin_users') }}">User</a></li>{% endblock %}
{% block title %}<i class="fa-fw fa fa-home"></i> User <span>{% block subtitle %}User{% endblock %}</span>{% endblock %}
{% block title_right %}{% endblock %}

{% block body %}

    <div class="container animated fadeInUp">

        {% block content %}{% endblock %}

    </div>

{% endblock %}

